.contact-us,
.contact-us-content,
.contact-info,
.contact-info-item,
.contact-form,
.contact-form-name,
.contact-form-phone-state,
.contact-form-phone,
.contact-form-phone .country-prefix {
    display: flex;
}

.contact-us {
    justify-content: center;
    align-items: center;
    gap: 123px;
    padding-top: 105px;
    padding-bottom: 164px;
}

.contact-us-content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-us-title {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px; 
}

.contact-us-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; 
    margin-top: 15px;
    width: 533px;
}

.contact-info {
    flex-direction: column;
    gap: 30px;
    margin-top: 85px;
}

.contact-info-item {
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
  }
  
  .contact-info-item-icon {
    width: 40px;
  }
  
  .contact-info-item-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
  }

  .contact-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 615px;
    height: 667px;
    border-radius: 18px;
    background: var(--color-global-gray);
  }
  
  .contact-form input,
  .contact-form-phone,
  .contact-form button {
    height: 52px;
  }
  
  .contact-form input,
  .contact-form textarea {
    border-radius: 39px;
    border: 2px solid #FFF;
    background-color: transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding-left: 36px;
    padding-right: 36px;
    color: #FFF;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    box-shadow: none;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #9C9E9F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  
  .contact-form-name,
  .contact-form-phone-state {
    justify-content: center;
    gap: 17px;
  }
  
  .contact-form-name input,
  .contact-form-state input {
    width: 267px;
  }
  
  .contact-form-email input {
    width: 552px;
  }
  
  .contact-form-phone .country-prefix {
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 39px 0 0 39px;
    border: 2px solid #FFF;
    border-right: 1px solid #FFF;
    width: 65px;
  }
  
  .contact-form-phone input {
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 0px 39px 39px 0;
    border: 2px solid #FFF;
    border-left: 1px solid #FFF;
    width: 202px;
  }
  
  .contact-form-state input {
    width: 268px;
  }
  
  .contact-form textarea {
    padding: 14px 36px;
    width: 552px;
    height: 250px;
    resize: none;
  }
  
  .contact-form button {
    margin-top: 19px;
    background-color: var(--color-global-pink);
    width: 556px;
    border-radius: 39px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border: none;
  }
  