.background-stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.stars {
    position: absolute;
    background-blend-mode: color-dodge;
    opacity: 29%;
}

.stars-upper-left {
    top: -60px;
    left: -180px;
    transform: rotate(29.59deg);
}

.stars-upper-right {
    top: 0;
    right: -47px;
    transform: rotate(-355.41deg);
}